@import "../GlobalStyles.scss";

.Root {
  width: 100%;
  margin: 2rem 0;
  overflow: auto;
  border: 1px solid $border-color;
  border-radius: 2px;

  @media screen and (max-width: $small) {
    margin: 1rem 0;
  }
}

.Table {
  width: 100%;
  min-width: 1250px;
  border-collapse: collapse;

  th {
    text-transform: capitalize;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-gray;
  }

  tr {
    height: 40px;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  td {
    text-align: center;
  }
}
