@import "../GlobalStyles.scss";

.Root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FilterBar {
  display: flex;
  align-items: center;

  @media screen and (max-width: $small) {
    width: 100%;
    margin-bottom: 1rem;
  }

  input {
    border: 1px solid $light-dark;
    border-radius: 3px;
    margin-left: 0.5rem;
    padding: 0.5rem;
    height: 32px;
    flex: 1;
    min-width: 200px;
  }
}

.MetaInfo {
  @media screen and (max-width: $small) {
    width: 100%;
  }
}