@import "../GlobalStyles.scss";

.Root {
  height: 32px;
  display: flex;
  align-items: center;
  min-width: 200px;

  @media screen and (max-width: $small) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.Selector {
  flex: 1;
  margin-left: 10px;
  height: 100%;
  border: 1px solid $light-dark;
  border-radius: 3px;
}